<div>
    <div class="w-full">
            <div class="flex justify-between items-center w-[50%]">
                <img src="button _ back.svg">
                <h1 class="text-[18] font-medium">
                    Followers (4K)
                </h1>
        
            </div>
    </div>
    <div class="flex justify-around border-[#EAEAEA] border-2 py-10 items-center">
        <div class="">
            Avatar
        </div>
        <div>
            <h1 class="text-[18] font-medium">
                John Doe
            </h1>
            <p class="text-[#919191] text-[12]">
                johnDoe
            </p>
        </div>
        <div>
            <img src="follow.svg">
        </div>
    </div>
    <div></div>
</div>