<div class="flex h-full ">
    <div class="md:w-[40%] flex flex-col h-full px-20 gap-4 justify-center">
        <a>Dummy Link</a>
        <a>Dummy Link</a>
        <a>Dummy Link</a>
        <a>Dummy Link</a>
        <a>Dummy Link</a>
        <a>Dummy Link</a>
        <a>Dummy Link</a>
    </div>
    <div>
        <div class="py-3 w-[90%] flex justify-between items-center">
            <div>
                <img src="button _ back.svg">
            </div>
            <p class="text-[18] font-medium text-[#1A1B23]">Profile</p>
            <fa-icon class="!text-[#585858]" [icon]="faSearch"></fa-icon>
        
        </div>
        <div class="flex gap-5 justify-center !text-[#9A9A9A] border-[#EEEEEE] p-5 border-t-2 border-b-2 overflow-x-auto">
            <a>ALL</a>
            <a>FACEBOOK</a>
            <a>LINKEDIN</a>
            <a>INSTAGRAM</a>
            <a>TWITTER</a>
        </div>
        <div class="w-[90%] mx-auto">
          <app-contacts></app-contacts>
        </div>
    </div>
</div>

