<div class="w-full h-full flex flex-col justify-center items-center gap-5">
    <div class="w-[85%] h-[85%] md:w-[50%] py-5"> 
        <div>

            <img src="button _ back.svg">

            <h1 class="text-center m-0 text-5xl font-medium mt-10">
                Hello Again!
            </h1>
        </div>

            <p class="text-center text-[#4A4A4A] mt-3">
                Create an account
            </p>
        
            <form class="flex flex-col gap-3 py-5">
        
                    <div class="flex flex-col p-3 border-2  border-[#4DD969] rounded-lg">
                        <label class="text-[#4DD969]">Full Name</label>
                        <input placeholder="John Doe">
                    </div>
                    <div class="flex flex-col p-3 border-2  border-gray-300  rounded-lg">
                        <label class="text-[#4DD969]">Email address</label>
                        <input placeholder="info@yourmail.com">
                    </div>
                    <div  class="flex flex-col p-3 border-2 border-[#4DD969] rounded-lg">
                        <label class="text-[#4DD969]">password</label>
                        <input placeholder="Enter your password">
                    </div>
                    <button mat-flat-button>Sign up</button>      
            </form>
            <p class="my-10 text-center"> have an account? <a class="!text-[#4DD969]" href="/login">Login</a></p>
        </div>
    </div>
