<div class="flex flex-col w-full h-full md:flex-row md:align-middle md:justify-center">
    <div class="bg-slate-600">
        <img class="w-full h-full" src="landing_page.svg">
    </div>

    <div class="md:flex md:flex-col md:justify-center">
        <div class="text-5xl  my-5 text-[#1A1B23] font-medium flex justify-center">
            <p class="w-[80%] text-center">Let’s connect with each other </p>
        </div>
        <div class="flex justify-center w-full">
            <p class="text-[#919191] text-center w-[80%] text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
    
        <div  class="w-[70%] text-center mx-auto rounded-md text-white text-base py-10">
                <a><img class="w-full" src="get_started.svg"></a>
        </div>
    </div>
   
</div>